.content-page {
	margin: auto;
}
.header-menu-top {
	width: 100%;
	
}

.content-body {
	width: 100%;
	margin: auto;
}
.header {
	display: flex;
}

.navbar-top {
	width: 40%;
}

.img-welcome {
	width: 70%;
	height: 50%;
}

.menu {
	display: flex;
}

.button {
	width: 30%;
}

.cart {
	margin-left: 5%;
}

.menu {
	width: 100%;
	margin-left: 10%;
}

.menu-leftbar {
	margin-top: 2%;
	margin-left: 6%;
	border-right: 2px solid black;
	width: 80%;
	margin-left: 6%;
}

.list-item {
	background-color: #d5d6df;
}

.item-menu {
	display: block;
	margin-bottom: 30%;
	font-size: 15px;
	text-align: center;
	font-family: serif;
	font-weight: bold;
	padding-top: 5%;
}

.menu-top {
	width: 120%;
	margin-left: 0.5%;
}

.menu-header {
	font-family: serif;
	font-weight: bold;
	font-size: 20px;
	border-bottom: 1px solid;
	width: 120%;
}

.product {
	width: 100%;
	border: 1px solid;
}

.product-list-item {
	display: flex;
}

.img-product {
	width: 20%;
}

.product-list-detail {
	padding: 5%;
	margin-left: 5%;
	width: 45%;
	font-size: 15px;
	font-family: cursive;
	font-size: 15px;
	width: 45%;
}

.product-list-action {
	display: flex;
	width: 25%;
	flex-direction: column;
	font-weight: normal;
	font-size: 14px;
	margin-left: 3%;
	margin-top: 5%;
	flex-direction: column;
}

.product-price {
	font-family: cursive;
	font-size: 15px;
	padding: 3%;
}

.wrapper-menu {
	margin-top:10%;
	display: flex;
}

.mainMenu {
	width: 250px;
	margin-left: 20%;
}

::marker {
	color: white;
}

.btn {
	display: block;
	padding: 15px 20px;
	background-color: #ff6f61 !important;
	color: #fff;
	border-radius: 4px;
	text-align: center;
	font-weight: bold;
	font-size: 15px;
	width: 100%;
}

.form-product {
	margin-left: 5%;
	width: 100%;
}

.title-form-cart-detail {
	font-family: cursive;
	font-weight: bolder;
	font-size: 30px;
	margin-bottom: 5px;
	color: red;
}

.total-money {
	font-family: cursive;
	font-weight: bold;
	font-size: 15px;
	margin-top: 4px;
	margin-left: 50%;
}

.table-detail-cart {
	background-color: #d4d5dc;
}

.button-amount {
	margin-right: 5% !important;
	margin-left: 5% !important;
	text-align: center !important;
}

.ui-button-text-only {
	display: flex;
    justify-content: center;
    align-items: center;
    width: 10xp;
    height: 15xp;
}

th {
	border-style: none !important;
}

td {
	padding: 0px !important;
}

.ui-column-title {
	font-family: cursive;
	font-size: 20px;
	font-weight: bolder;
}

.ui-outputlabel {
	font-size: 15px;
}

.id-column {
		width: 10%;
	
}

.name-column {
	width: 20%;
}

.column-quantity{
	width: 20%;	
}

.total-column {
	width: 15%;
}

.delete-column {
	width: 5%;
}

.cost-column {
	width: 10%;
}


	

